NEXT_PUBLIC_SUPABASE_URL=https://dlwhmnvqtpuselcwwdqt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsd2htbnZxdHB1c2VsY3d3ZHF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzc5ODM4ODMsImV4cCI6MjA1MzU1OTg4M30.tmQ9C5lNJ3T-KP1YoHE0YwOU-7yDqEmoyr0t3NiVe-w
# NEXT_PUBLIC_SERVICE_ROLE_KEY


